<form action="/create/post" method="POST">
    <div>Blog Post</div>
    <style>
        body {
            background: white !important;
        }
    </style>
    <div>
        <input name="title" spellcheck="false" placeholder="Title" type="text">
        <textarea name="post_text" spellcheck="false" placeholder="Write out your techblog post here!"></textarea>
        <button type="submit">Post</button>
    </div>
    </div>
    </div>
</form>